<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="icon" type="image/png" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-content">
    {{>header}}

    <p>dazdza zad azdazd azd azda da d</p>

    <form action="">
        <input placeholder="Location">
        <button>
            Search
        </button>
    </form>
    <p id="paragraphe1"></p>
    <p id="paragraphe2"></p>
</div>
{{>footer}}
<script src="/js/app.js"></script>
</body>
</html>